@media screen and (min-width: 768px) {
  header {
    label {
      flex-basis: calc(100% / 3);
      &:first-child {
        order: -2;
      }
      &:last-child {
        flex-basis: calc(100% / 3);
        order: -1;
      }
    }
  }
  main {
    div {
      flex-basis: calc(100% / 4);
    }
  }
}

@media screen and (min-width: 1000px) {
  main {
    div {
      flex-basis: calc(100% / 5);
    }
  }
}

@media screen and (min-width: 1440px) {
  main {
    div {
      flex-basis: calc(100% / 6);
    }
  }
}
